//Color palette
$bg-variant: #f6f5f9;
$hover: #def1fd;
$primary: var(--p-primary-color);
$secondary: #40b3ff;
$black: #333;
$white: #fff;

// Common color
$white: #fff;
$black: #000;
$red: #e71e2c;
$orange: #f2994a;
$yellow: #f2c94c;
$green: #27ae60;
$blue: #2f80ed;
$violet: #9b51e0;
$purple: #bb6bd9;
$grey: #828282;

// Font color variant
$text-variant-1: #ccd6f6;
$text-variant-2: #9ea3ba;
$text-variant-3: #8892b0;
$text-variant-4: #5e616e;
$text-variant-5: #3d3f48;

// Border color variant
$border-variant-1: #cccccc;
$border-variant-2: #bfbfbf;
$border-variant-3: #727272;
$border-variant-4: #252525;

// Common style
$transition: 0.3s all ease-out;
$shadow: 0 0.5rem 1rem rgba($secondary, 0.15);

// Prism color
$prism-color: #282a36;
$bg-color: #17141d;
$gradient: linear-gradient(90deg, #ff8a00, $primary);
