@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Roboto+Slab&display=swap");

#app {
    font-family: "Roboto Slab", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;

}

/* body{
    background: rgb(255,247,230);
    background: linear-gradient(90deg, rgba(255,247,230,1) 0%, rgba(150,215,255,1) 73%, rgba(32,150,255,0.969625350140056) 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
} */





.appname {
    color:#3498DB ;
}
/* #1D1E22 */
.temp {
    font-size: 3.4em;
}

.details .card {
    margin-bottom: 5%;
    border:none;
}

.details .weather {
    font-size: 1.6em;
}

.details .title {
    font-size: 1.2em;
}

.weatherUpdate {
    margin:3% 0% 10%;
}

.weatherbody {
    width: 100%;
    height: 100%;
    margin: 25% 0%;
}

.weatherbody img {
    width: 200px;
}
.weatherbody h4 {
    margin-top: 15%;
    font-weight: 500;
    font-style: italic;
}



.forcast {
    background-image: url("https://images.unsplash.com/photo-1529923123842-3310dfdc0b10?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #333;
    padding:5%;
    width:100%;
    font-weight: 600;
    border:none;
}

.forcast.cold {
    background-image: url("https://images.unsplash.com/photo-1459695452562-46cc57bef5f6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    color: #fff;
}

.forcast h2 {
    font-weight: 600;
    color: #fff;
}

.searchbar{
        width: 100%;
}

.country h4 {
    font-weight: 600;
}


/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    .searchbar{
        width: 60%;
    }
    .forcast {
        padding: 10%;
    }
}
 
/* Large devices (desktops, 1000px and up) */
@media (min-width: 1000px) { 
    .searchbar{
        width: 60%;
    }

    .forcast {
        padding: 15%;
    }

    .weatherbody {
        width: 100%;
        height: 100%;
        margin: 15% 0%;
    }

    .weatherbody h4 {
        margin-top: 10%;
    }
}